
$allUppercase: uppercase;
$darkBackground: #353541;
$tomatoRed: #fb6470;
$lightBlue: #32bec7;
$brightRed: #ff1d25;
$lightGreen: #7ac943;
$lightPink: #ff7bac;
$oceanBlue: #3fa9f5;
$offwhite: white;
$textGrey: #b8b8bd;
$darkGrey: #889ea8;
$greySvg: #cbd5d9;
$greyBack: #f4f1f4;



